<% layout("./layout/boilerplate.ejs") %>

<div class="card">

    <div class="row d-flex justify-center align-items-center">
        <div class="col-8 offset-2">
            <div class="alert alert-danger" role="alert">
                <h4 class="alert-heading text-center"><%=err.message%></h4>
                <% if (process.env.NODE_ENV !== "production") { %>
                <p><%= err.stack %></p>
                <% } %>
            </div>
        </div>
    </div>
</div>